@import '_defaults';
@import url(https://fonts.googleapis.com/css?family=Passion+One|Inconsolata);

body {
  overflow-x: hidden;
  background: #202020;
  z-index: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.gif") no-repeat fixed;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

main {
  color: #ffffff;
  height: 90vh;
  margin-top: 5vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);

  @media all and (min-width: 1280px) and (min-device-width: 1280px) {
    height: 50vh;
    margin-top: 25vh;
    width: 50vw;
  }

  #title {
    position: relative;
    top: 5vh;
    height: 20vh;
    opacity: 1.0;
    font-size: 10vw;
    text-align: center;
    font-family: 'Passion One', cursive;

    @media all and (orientation: landscape) {
      font-size: 6vw;
    }

    @media all and (min-width: 1280px) and (min-device-width: 1280px) {
      top: 1vh;
      height: 5vh;
      opacity: 1.0;
      font-size: 3vw;
    }
  }
  form {
    position: relative;
    height: 70vh;
    opacity: 1.0;
    font-size: 7vw;
    padding: 20px 30px 20px 30px;
    font-family: 'Inconsolata';
    fieldset {
      position: relative;
    }
    #path-descr {
      font-size: 5vw;
      position: relative;
    }
    #path-options {
      position: relative;
      margin-top: 2vh;
      #option-one-loc, #option-two-loc {
        display: none;
      }
    }
    #continue-btn {
      position: absolute;
      bottom: 5vh;
      font-size: 5vw;
      left: 37.5%;
    }

    @media all and (orientation: landscape) {
      height: 65vh;
      padding-bottom: 10px;
      font-size: 4vw;
      #path-descr {
        font-size: 3vw;
      }
      #continue-btn {
        bottom: 10vh;
      }
    }

    @media all and (min-width: 1280px) and (min-device-width: 1280px) {
      height: 45vh;
      opacity: 1.0;
      font-size: 1.5vw;
      padding: 10px 20px 10px 20px;
      #path-descr {
        font-size: 2vw;
      }
      #continue-btn {
        position: absolute;
        bottom: 5vh;
        left: 20vw;
        width: 10vw;
        font-size: 1.5vw;
      }
    }
  }
}

input[type=radio] {
  border: 0px;
  width: 5vw;
  height: 5vh;
  @media all and (min-width: 1280px) and (min-device-width: 1280px) {
    width: 2vw;
    height: 2vh;
  }
}

