@import '_defaults';

body {
  background: #ffffff;
}

@font-face {
  font-family: 'Aspira';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf') format('opentype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jane-Austen';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pesaro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf') format('opentype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#container {
  position: absolute;
  width: 40%;
  height: 90%;
  margin-top: 5%;
  bottom: 5%;
  left: 30%;
  right: 30%;
  border: 2px solid #000000;
}

#header {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  #publisher {
    position: relative;
    text-transform: uppercase;
    font-size: 1.15vw;
    font-famliy: Aspira;
    width: 35%;
    height: 50%;
    top: 0%;
    left: 3%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    display: flex;
    align-items: center;
  }
  #title {
    position: relative;
    font-size: 4.5vw;
    left: 10%;
  }
}

#content {
  position: relative;
  width: 100%;
  height: 85%;
  #volume {
    position: relative;
    width: 10%;
    left: 0;
    top: 0;
    font-family: Pesaro;
    #v_text {
      font-family: Pesaro;
    }
    #v_num {
      font-family: Pesaro;
    }
  }
  #cover_art {
    position: relative;
    width: 80%;
    left: 10%;
    top: 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  #side_text {
    position: relative;
    width: 10%;
    left: 90%;
    top: -100%;
    font-family: Jane-Austen;
  }
}

#footer {
  position: relative;
  width: 100%;
  height: 5%;
  font-family: Pesaro;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid #000000;
  span {
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    font-size: 1.5vw;
  }
}