<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upwork Contract Site</title>
    <link href="public/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/main_style.css" rel="stylesheet">
</head>
<body>