body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


.garamond-pro {
  font-family: "Adobe Garamond Pro";
}

.normal-wight {
  font-weight: normal;
}

.red-text {
  font-weight: normal;
  color: #f50000;
}